<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Страница записи</title>
</head>
<body bgcolor="#FFF8DC">
<h1>User list:</h1>
<form action="" method="post">
    <p>
        <label for='name'>Name</label>
        <input type="text" name="Name">
    </p>
    <p>
        <label for="surname">Surname</label>
        <input type="text" name="Surname">
    </p>
    <p>
        <label for="phone_number">Telephone</label>
        <input type="text" name="Phone number">
    </p>

    <p>
        <input type="submit" name="Подтвердить">
    </p>
</form>
</body>
</html>